{% extends 'main/baseAdmin.html' %}
{% load static %}
{% block title %}
Create new cloth
{% endblock %}

{% block content %}
<h1>Add a new cloth</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.name }}<br>
        {{ form.image }} <br>
        {{ form.price }} <br>
        {{ form.category }} <br>
        {{ form.gender }} <br>
        {{ form.available }} <br>
        <button type="submit" class="btn btn-success">Add</button>
        <span>{{ error }}</span>
    </form>
{% endblock %}