{% extends 'main/base.html' %}
{% load static %}
{% block title %}
Main Page
{% endblock %}

{% block css %}
static 'css/index.css'
{% endblock %}


{% block content %}
{% load static %}
<div class="cards" style="display: flex; margin-left: 60px;">
    <div class="card" style="width: 300px; margin: 0 20px;">
        <div class="container" style="max-width: 300px;">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <img src="https://simg2.marwin.kz/media/catalog/product/t/r/tr-qrep_3.jpg" alt="Los Angeles" style="width:100%;">
              </div>

              <div class="item">
                <img src="https://simg.marwin.kz/media/catalog/product/4/t/4t0yozqd_4.jpeg" alt="Chicago" style="width:100%;">
              </div>

              <div class="item">
                <img src="https://resources.cdn-kaspi.kz/shop/medias/sys_master/images/images/hd3/h8f/15759943073822/qazaq-republic-1465-belaa-xl-100659190-1.jpg" alt="New York" style="width:100%;">
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Jeide</h5>
            <p class="card-text">Cost: 100$</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <div class="card" style="width: 300px; margin: 0 20px;">
        <div class="container" style="max-width: 300px; ">
          <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <img src="https://simg.marwin.kz/media/catalog/product/cache/41deb699a7fea062a8915debbbb0442c/f/i/file_18.jpeg" alt="Los Angeles" style="width:100%;">
              </div>

              <div class="item">
                <img src="https://resources.cdn-kaspi.kz/shop/medias/sys_master/images/images/h20/hc5/33286985187358/qazaq-republic-sen-50144-00939-s-nadpisu-bordovaa-m-100648045-1.jpg" alt="Chicago" style="width:100%;">
              </div>

              <div class="item">
                <img src="https://resources.cdn-kaspi.kz/shop/medias/sys_master/images/images/h81/h39/15742845681694/qazaq-republic-qr-fioletovaa-s-100656820-1.jpg" alt="New York" style="width:100%;">
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Kenjeide</h5>
            <p class="card-text">Cost: 150$</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
    <div class="card" style="width: 300px; margin: 0 20px;">
        <div class="container" style="max-width: 300px;">
          <div id="myCarousel3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <img src="https://simg.marwin.kz/media/catalog/product/cache/41deb699a7fea062a8915debbbb0442c/1/1/1150278_2.jpeg" alt="Los Angeles" style="width:100%;">
              </div>

              <div class="item">
                <img src="https://simg.marwin.kz/media/catalog/product/cache/41deb699a7fea062a8915debbbb0442c/h/u/hulhcrvg_2.jpeg" alt="Chicago" style="width:100%;">
              </div>

              <div class="item">
                <img src="https://resources.cdn-kaspi.kz/shop/medias/sys_master/images/images/hbb/h2c/15741857988638/qazaq-republic-qr-seraa-s-100656701-1.jpg" alt="New York" style="width:100%;">
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
            <h5 class="card-title">Burjeide</h5>
            <p class="card-text">Cost: 200$</p>
            <a href="#" class="btn btn-primary">Add to cart</a>
        </div>
    </div>
</div>

{% endblock %}
